spring:
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        default_schema: cart_schema
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=cart_schema
    username: postgres
    password: 12345